
<h2>Top level dir</h2>
<ul>
    <li><a href="1.wav">1</a></li>
    <li><a href="2.wav">2</a></li>
    <li><a href="3.wav">3</a></li>
    <li><a href="4.wav">4</a></li>
</ul>

<h2>Sub dir</h2>
<ul>
    <li><a href="sub/1.wav">1</a></li>
    <li><a href="sub/2.wav">2</a></li>
    <li><a href="sub/3.wav">3</a></li>
    <li><a href="sub/4.wav">4</a></li>
</ul>
